/* SuccessPopup.module.css */

/* Popup Container */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  /* Popup Content */
  .popup-content {
    background-color: #020202;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .popup-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff7700;
  }
  
  .popup-text {
    font-size: 1rem;
    color: #ff7700;
  }
  
  .popup-close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff7700; /* Button background color */
    color: #030303; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .popup-close-btn:hover {
    background-color: #ff9900; /* Button background color on hover */
  }
  